<!-- _includes/header.html -->
<header class="p-6 flex justify-between items-center border-b border-[#c39e5c] fixed top-0 left-0 right-0 bg-[#010a14]/90 backdrop-blur z-100">
  <h1 class="text-3xl font-extrabold tracking-wide text-[#ede7d6]">
    <a href="#home">{{ site.data.settings.title | split: ' ' | first }}</a>
  </h1>
  <nav class="space-x-6 text-sm font-medium">
    <a href="#home" class="text-[#c39e5c] hover:text-[#ede7d6]">HOME</a>
    <a href="#portfolio" class="text-[#c39e5c] hover:text-[#ede7d6]">PORTFOLIO</a>
    <a href="#about" class="text-[#c39e5c] hover:text-[#ede7d6]">ABOUT</a>
    <a href="#contact" class="text-[#c39e5c] hover:text-[#ede7d6]">CONTACT</a>
  </nav>
</header>
